<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome To
      </h1>
      <h2 class="subtitle">
        mini-html5-framework
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">What is mini-html5-framework?</h1>
      <h2 class="subtitle">
        And why do we need yet <strong>another</strong> JavaScript framework?
      </h2>
      <p>
        mini-html5-framework is an incredibly lightweight framework that comes
        with little more than a simple means of routing with basic templating and
        controller support. While most JavaScript frameworks attempt to enhance
        the user experience for large scale webapps, not all projects require
        the bloat of a framework like Angular, it's nice to provide the same user
        experience of a Single Page Application of smaller applications like blogs.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">How does it work?</h1>
      <p>
        mini-html5-framework is built on top of the HTML5 History API.
      </p>
    </div>
  </div>
</section>
